body {
  overflow: hidden;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.canvas-webgl {
  position: absolute;
  top: 0;
  left: 0;
}